doctype html
html(lang="en")
  head
    style(type='text/css').
      div {
        position: absolute;
        border-radius: 8px;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        width: 16px;
        height: 16px;
      }
  body
    each val in canvasContent
      div(title='#{val.name}' \
      style='background-color: #{val.color}; top: #{val.top}px; left: #{val.left}px')
